snippet [
	[%- ${1} -%]${2}
snippet p
	[% PROCESS '${1}' %]${2}
snippet pi
	[% PROCESS '${1}' IF ${2:condition} %]${3}
snippet b
	[% BLOCK '${1}' %]
		${2}
	[% END %]
snippet i
	[% IF ${1:condition} %]
		${2}
	[% END %]
snippet ie
	[% IF ${1:condition} %]
		${2}
	[% ELSE %]
		${3}
	[% END %]
snippet iee
	[% IF ${1:condition} %]
		${2}
	[% ELSIF ${3:condition} %]
		${4}
	[% ELSE %]
		${5}
	[% END %]

